body{
    /* background-color: #ccc; */
}
.second-icon{
    width: 150px;
    height: 55px;
    margin-top: 5px;
    display: inline-block;
    /* border: 1px solid #ccc; */
    background-image: url(../img/Frank.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
.welcome{
    display: none;
}
.nav-wrap .nav{
    display: none;
}
.banner-wrap{
    display: none;
}
.info-wrap {
    width: 100%;
    display: none;
}
.blog-wrap{
    width: 100%;
    margin-top: 60px;
    padding-right: 3px;
    padding-left: 3px;
}
.nav-wrap,.changeColor{
    background-color: rgba(31,97,123, 1);
}
.pagination-warp a{
    width: 35px;
    height: 35px;
    line-height: 35px;
}