.nav-wrap .nav{
    height: 100px;
    width: 100%;
    position: absolute;
    line-height: 50px;
    /* margin-top: -10px; */
    background-color:rgba(31,97,123, 1);
    display: none;
}
.nav-wrap .nav a{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    display: block;
}
.nav-wrap .nav a:last-child{
    margin-right: 20px;
}
.phone-nav-bgcolor{
    height: 60px;
    background-color:rgba(31,97,123, 1);
    /* border: 1px solid #000000; */
}
#search-wrap{
    width: 150px;    
    border: none;
    left: 5px;
    top: 8px;
    /* border-radius: 3px; */
}
#search{
    width: 80px;
}
#search-wrap .search-result{
    width: 130px;
}
.search-result a{
    width: 130px;
    color: #515151    
}

.menu-icon{
    width: 30px;  
    height: 25px;  
    border-top: 5px solid #bfe1ea;  
    border-bottom: 5px solid #bfe1ea;  
    background-color: #bfe1ea;  
    padding: 5px 0;
    margin-top: 8px;
    margin-right: 8px;
    display: inline;
    float: right;
    background-clip: content-box;
}
#menu-checkbox:checked ~ .nav{
    display: block;
}

.welcome{
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    margin-left: 8px;
}
#menu-checkbox{
    display: none;
}


.tag-wrap{
    margin-top: 40px;
}
.tags{
    font-weight: bold;
}


.banner-wrap{
    display: none;
}

.info-wrap {
    width: 100%;
    display: none;
}
.blog-wrap{
    width: 100%;
    margin-top: 40px;
    padding-right: 3px;
    padding-left: 3px;
}
.blog-wrap .tag{
    display: none;
}
.blog-info{
    height: 55px;
}
.blog-info .title{
    font-size: 16px;
    font-weight: bold;
    margin-left: 5px;
    /* padding-bottom: 8px; */
    padding: 0px 0px 5px 0px;
}
.blog-info .time{
    margin-left: 5px;
}
.nav-wrap,.changeColor,.phone-nav-bgcolor{
    height: 40px;
    background-color: rgba(31,97,123, 1);
}
.pagination-warp{
    margin: 0px;    
}
.pagination-warp a,.next,.previous{
    width: 35px;
    height: 35px;
    line-height: 35px;
}