*{
    padding: 0px;
    margin: 0px;
    font-family: "微软雅黑";
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #fff;    
}
li{
    list-style:none;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
    display: block;
}

.col-3{
    width: 30%;    
    position: relative;
    float: left;
    display: block;
}
.col-7{
    width: 70%;    
    position: relative;
    float: left;
    display: block;
}

/*------------------------------------*/
.nav-wrap{
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #1F617B;
    z-index: 999;
}
.welcome{
    /* height: 60px; */
    display: inline-block;
    line-height: 60px;
    font-size: 32px;
    margin-left: 35px;
}
.second-icon,.menu-icon,#menu-checkbox{
    display: none;
}

.nav{
    float: right;
    line-height: 60px;
}
.nav .item{
    font: 20px;
    margin: 20px;
    color: #E4E4E4;
}
.nav .item:last-child{
    margin-right: 45px;
}
.nav .item:hover{
    color: #fff;
}

/*------------------------------------*/
.banner-wrap{
    height: 450px;
    background-color: #F5F7F9;
}

.banner-wrap img{
    width: 100%;
    /* min-width: 1082px; */
    height: 450px;
    /* height: 360px; */
    filter: blur(0px);
    transition: all 0.3;
    left: 50%;
    transform: translate(-50%,0);
    position: absolute;

}
.logo{
    color: #fff;
    font-size: 60px;
}
.logo span:first-child{
    font-size: 50px;
    font-family:'微软雅黑 light';
}
